# Project exclude paths
/docg_coreRealm/target/
/docg_relationManage/target/
/docg_realmKnowledgeManage/target/
/docg_realmExample/target/
/docg_dataCompute/target/
/docg_dataCompute/ignite/
/docg_dataAnalyze/spark-warehouse/
/docg_dataAnalyze/ignite/
/docg_dataAnalyze/target/
/docg_realmKnowledgeManage/testresult/
/docg_dataCollector/target/
/docg_realmKnowledgeManage/ignite/
/docg_analysisProvider/target/
/docg_analysisProvider/ignite/
/docg_realmExample/ignite/
/docg_coreRealm/log/
/ignite/
/docg_analysisProvider/internalDB/
/docg_analysisProvider/derby.log
